/* Custom CSS file for JAA website */
html,
body {
    background-color: #ffbbda;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 1rem;
}
.navbar-toggler,
.navbar-nav,
.menu,
.gallery,
.music,
.jewelry,
.decor,
.learn-more
{
    text-transform: uppercase;
    background-color: #9F769A;
    color: #ffbbda;
  }
.nav-item {
    text-align: center;
}
.tgl-btn,
.navbar-toggler-icon {
    color: #ffbbda;  
}
.nav-link {
    color: #ffbbda;
}
.logo {
    background-image: url(./img/JAA-logo-69.png);
}
.main {
    box-sizing: border-box;
    margin: auto auto 2rem auto;
    max-width: 100vw;
    max-height: 80vh;
}

/* Carousel */
.img-car>button {
    max-width: 3rem;
}
#learn-more {
    justify-content: center;
    width: 15vw;
    border-radius: 3rem;
    background-color: #731963;
    border: 1px solid #ffbbda;
}
.card-body {
    text-align: center;
    max-width: 80vw;
    margin: 0 auto 1rem auto;
    text-align: justify;
}
.learn-more,
.jewelry,
.gallery,
.decor,
.music 
{
    padding: 2rem;
    margin: 1rem auto 2rem auto;
    text-align: center;
    border: 1px solid #731963;
    margin: 2rem auto;
}
.greeting {
    text-align: center;
    background-color: #9F769A;
    color: #ffbbda;
    margin: 0 auto 1rem auto;
}
.greeting>img {
    height: 9rem;
    width: 7rem;
    border: 2px soli #ffbbda;
    border-radius: 50%;
    margin: 0;
}
.hero {
    padding: 0;
}
section.gallery>h4,
section.decor>h4 {
    text-align: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem auto 2rem auto;
    text-align: center;
    border: 1px solid #731963;
    margin: 1rem auto 2rem auto;
}
.footer>a {
    text-decoration: none;
    color: #731963;
    border: 1px solid #ffbbda;
}
