/* Custom CSS file for JAA website */
html,
body {
    background-color: #ffbbda;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 1rem;
}
nav.navbar {
    border: 1px solid #731963;
}
.navbar-toggler,
.navbar-nav,
.menu,
.gallery,
.music,
.jewelry,
.decor,
.learn-more
{
    text-transform: uppercase;
    background-color: #9F769A;
    color: #ffbbda;
  }
.nav-item {
    text-align: center;
}
.tgl-btn,
.navbar-toggler-icon {
    color: #ffbbda;  
}
.nav-link {
    color: #ffbbda;
}
.logo {
    background-image: url(./img/JAA-logo-69.png);
}
.main {
    box-sizing: border-box;
    margin: auto auto 2rem auto;
    max-width: 100vw;
    max-height: 80vh;
}

/* Carousel */
.img-car>button {
    max-width: 3rem;
}
#learn-more,
.button {
    justify-content: center;
    width: 33vw;
    border-radius: 1rem;!important
    border: 1px solid #ffbbda;!important
}
.learn-more:hover {
    background-color: #731963;
}
/* .learn-more:active {
    background-color: #731963;
} */
.card-body {
    background-image: url(/img/MotD-pause-bg.png);
    background-position: center center;
    background-repeat: no-repeat, repeat;
    text-align: center;
    max-width: 100vw;
    margin: 0 auto 1rem auto;
    text-align: justify;
    border: 1px solid #731963;
    border-radius: 1rem;
    background-color: #9F769A;
    color: #ffbbda;
}
.learn-more,
.jewelry,
.gallery,
.decor,
.music 
{
    padding: 2rem;
    margin: 1rem auto 2rem auto;
    text-align: center;
    border: 1px solid #731963;
    margin: 2rem auto;
}
.greeting {
    max-width: 70vw;
    text-align: center;
    border: 1px solid #731963;
    border-radius: 2rem;
    background-color: #9F769A;
    color: #ffbbda;
    margin: 0 auto 1rem auto;
}
.greeting>img {
    height: 9rem;
    width: 7rem;
    border: 2px soli #ffbbda;
    border-radius: 50%;
    margin: 0;
}
.greeting>h4 {
    width: 100%;
    text-align: center;
}
.hero {
    padding: 0;
}
section.gallery>h4,
section.decor>h4 {
    text-align: center;
}
div>img.arrowUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem 0 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem auto 2rem auto;
    text-align: center;
    border: 1px solid #731963;
    margin: 0 auto 2rem auto;
}
.footer>a {
    text-decoration: none;
    color: #731963;
    border: 1px solid #ffbbda;
}
/* media querries */
@media screen and (max-width: 900px) {
    .greeting {
      min-width: 100vw;
      border-radius: 0;
    }
    .card-body {
        border-radius: 0;
    }
    #learn-more,
    .button {
        width: 50vw;
        border-radius: 1rem;!important
        border: 1px solid #ffbbda;!important
    }
  } 
  /* 500px or less */
  @media screen and (max-width: 500px) {
    #learn-more,
    .button {
        width: 90vw;
        border-radius: 1rem;!important
        border: 1px solid #ffbbda;!important
    }
  }
